@import "importCss/ResetCss.scss", "importCss/FontsCss.scss", "importCss/font.css";
$breakpoint1400: 1400px;
$breakpoint1000: 1000px;
$breakpoint850: 850px;
$breakpoint600: 600px;
$breakpoint400: 400px;
body { 
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
.body__modal-open{    
  overflow: hidden;
}

.__container {
  max-width: 1200px;
  padding: 0 36px;
  margin: 0 auto;
  box-sizing: content-box;
}
@media (max-width: $breakpoint400) {
  .__container{
    padding: 0 10px;
  }
}

.header {
  @extend %font16px;

  position: absolute;
  width: 100%; 
  left: 0; 
  top: 0;
  background-color: rgba($color: $GrayDark, $alpha: 0.1);
  backdrop-filter: blur(5px);
  z-index: 10;

  &__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
  }
  &__logoImg{
      height: 40px; 
      object-fit: cover;
  }
}
@media (max-width: $breakpoint1400) {
  .header {
    &__container{ min-height: 60px; }
    &__logoImg{ height: 40px; }
  }
}
@media (max-width: $breakpoint1000) {
  .header {
    &__container{ min-height: 50px; }
    &__logoImg{ height: 30px; }
  }
}
@media (max-width: $breakpoint600) {
  .header {
    &__container{ min-height: 40px; }
    &__logoImg{ height: 20px; }
  }
}


.about {
  position: relative;
  min-height: 100vh;
  background-image: url(/source/background/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-bottom: 100px;
  &__container-main {
    position: relative;
    text-align: center;
  }
  &__main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  &__title-main { 
    @extend %font124px;
    @extend %fontShadowTitle;
    grid-column: 2;
  }
  &__text-main {
    @extend %font32px;
    @extend %fontShadow;
  }

  &__container-description {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "__title __imgBig" 
    "__text __imgBig"
    "__imgSmall __imgBig";

    gap: 10px;
    justify-self: center;
    grid-auto-flow: dense
  }

  &__title-description {
    @extend %font64px;
    @extend %fontShadow;
    grid-area: __title;
  }
  &__text-description {
    @extend %font32px;
    @extend %fontShadow;
    grid-area: __text;
  }
  &__imgBig { grid-area: __imgBig;}
  &__imgSmall { grid-area: __imgSmall;}
  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
  }
}

@media (max-width: $breakpoint1400) {
  .about {
    &__title-main { font-size: 108px; }
    &__text-main { font-size: 24px; }
  }
}
@media (max-width: $breakpoint1000) {
  .about {
    &__title-main { font-size: 76px; }
    &__title-description { font-size: 42px; }
    &__text-description { font-size: 24px; }
  }
}
@media (max-width: $breakpoint850) {
  .about {
    padding-bottom: 50px;
    &__container-description { 
      padding-top: 50px;
      grid-template-areas: 
      "__title __title" 
      "__text __imgBig"
      "__imgSmall __imgSmall";
    }
    &__image { border-radius: 20px; }
  }
}
@media (max-width: $breakpoint600) {
  .about {
    &__title-main { font-size: 64px; }
    &__title-description { font-size: 32px; }
    &__text-description { font-size: 16px; }
  }
}
@media (max-width: $breakpoint400) {
  .about {
    &__title-main { font-size: 36px; }
    &__title-description { font-size: 24px; }
    &__text-description { font-size: 16px; }
  }
}

.instruments {
  position: relative;
  background-image: url(/source/background/instruments.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;

  &__title {
    @extend %font64px;
    @extend %fontShadow;
    padding-top: 100px;
  }
  &__content{
    margin: 100px 50px 50px;
    overflow: hidden;
  }
}

.slider {
  display: flex;
  flex-direction: row;
}

.card {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    background: rgba($color: $GrayLight, $alpha: 0.1);
    backdrop-filter: blur(5px);
  }
  &__image {
    img {
      max-width: 290px;
      object-fit: cover;
    }
  }
  &__title {
    @extend %font32px;
    @extend %fontShadow;
    text-align: center;
    font-size: 24px;
    padding: 10px 20px 30px 20px;
    max-width: 270px;
  }
}

.swiper-button-next:after,.swiper-button-prev:after {
  font-size: 0px;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
  background: $White;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .9);
}

@media (max-width: $breakpoint1400) {
  .instruments {
    &__title {
      @extend %font64px;
      padding-top: 100px;
    }
    &__content{
      margin: 100px 15px 50px;
      overflow: hidden;
    }
  }

}
@media (max-width: $breakpoint1000) {
  .instruments {
    &__title {
      font-size: 42px;
    }
    &__content{
      margin: 100px 5px 50px;
      overflow: hidden;
    }
  }
  .card {
    &__title {
      padding: 10px 20px 30px;
      font-size: 18px;
    }
    &__image{
      img{
        max-width: 250px;
      }
    }
  }
}
@media (max-width: $breakpoint850) {
  .instruments {
    padding-bottom: 50px;
  }
  .swiper-button-next,.swiper-button-prev {
    display: none;
    font-size: 0px;
  }
}
@media (max-width: $breakpoint600) {
  .instruments {
    &__title {
      font-size: 32px;
    }
  }
}
@media (max-width: $breakpoint400) {
  .instruments {
    &__title {
      font-size: 24px;
      padding-top: 50px;
    }
    &__content {
      margin: 50px 5px 50px;
    }
  }

}

.prices {  
  position: relative;
  background-image: url(/source/background/prices.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;

  &__title {
    @extend %font64px;
    @extend %fontShadow;
    padding-top: 100px;
  }
  &__list {

  }
  &__buttons {
    padding-top: 100px;
    display: flex;
    align-items: center;
  }
  &__buttons-calc, &__buttons-rules, &__buttons-call {
    @extend %font32px;
    @extend %fontShadow;
    font-size: 24px;

    width: 400px;
    height: 70px;
    border: none;
    margin-bottom: 40px;
    margin-right: 10px;
    border-radius: 30px;

    background: rgba($color: $GrayDark, $alpha: 0.1);
    backdrop-filter: blur(5px);

    transition: all 0.3s;
  }

  &__buttons-rules {
    width: 165px;
  }
  &__buttons-call {
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__buttons-calc:hover, &__buttons-rules:hover, &__buttons-call:hover{
    background: rgba($color: $Gray, $alpha: 0.1);
    transition: all 0.3s;
  }
  &__buttons-calc:active, &__buttons-rules:active, &__buttons-call:active{
    background: rgba($color: $White, $alpha: 0.1);
    transition: all 0.3s;
  }
}

.list-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 100px;

  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 350px;

    border-radius: 40px;
    background: rgba($color: $Black, $alpha: 0.2);
    backdrop-filter: blur(5px);

    transform-style: preserve-3d;
    transition: all 0.3s;
  }
  &__item:hover {
    background: rgba($color: $GrayLight, $alpha: 0.1);
    transition: all 0.3s;
  }

  &__item-price {
    @extend %font64px;
    @extend %fontShadow;
    font-size: 52px;
    padding: 80px 0px 45px;
  }
  &__item-description {
    @extend %font32px;
    @extend %fontShadow;
    padding: 0 10%;
    font-size: 32px;
  }
  &__item-sale{
    justify-content: center;
    cursor: pointer;
  }
  
  &__item-description-sale{
    font-size: 64px;
  }
}

.modal-calc {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);

  position: fixed;
  z-index: 10;
  padding-top: 5%;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%; 
  
  backdrop-filter: blur(15px);
  transition: all 0.3s;
  &__open{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s;
  }
  &__form{
    display: grid;
    grid-template-areas: "__ul __div";
    ul{
      grid-area: __ul;
    }
  }

  &__content{
    margin: auto;
    padding: 100px;
    border-radius: 30px;
    background-color: rgba($color: $Black, $alpha: 0.2);
  }
  &__title{
    @extend %font32px;
    @extend %fontShadow;
    padding-bottom: 50px;
  }
  &__close {
    color: $White;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.3s;
  }
  &__close:hover, &__close:focus {
    color: $GrayDark;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__label {
    @extend %font32px;
    @extend %fontShadow;
    font-size: 24px;
    padding-left: 10px;
  }
  &__hours {
    width: 40px;
    height: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba($color: $White, $alpha: 1);
    color: $Black;
  }
  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  li{
    margin-bottom: 20px;
  }
  li:last-child{
    margin-bottom: 0px;
  }
  &__checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    transition: all 0.2s;
  }
  &__checkbox + label::before {
    content: '';
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border: 2px solid $White;
    border-radius: 30%;

    transition: all 0.2s;
  }
  &__checkbox:checked+label::before {
    position: relative;
    border-color: $White;
    background-color: $White;
    background-color: rgba($color: $GrayDark, $alpha: 0.5);

    background-image: url('/source/icon/ok.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;

    transition: all 0.2s;
  }
  &__checkbox:hover + label:hover::before {
    position: relative;
    border-color: $GrayLight;
    background-color: rgba($color: $GrayDark, $alpha: 0.5);

    transition: all 0.2s;
  }

  &__radio + label::before{
    border-radius: 50%;
  }
  &__radio:checked+label::before {
    background-image: url('/source/icon/ok-radio.png');

    transition: all 0.2s;
  }

  &__result{
    grid-area: __div;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 50px;
    border-radius: 30px;
    background-color: rgba($color: $White, $alpha: 0.9);
    
  }
  &__result-item{    
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

    @extend %font32px;
    color: $GrayDark;
    font-size: 18px;
  }
  &__result-item:last-child{padding-bottom: 0;}
  &__result-item-work{}
  &__result-item-price{}
  &__result-sum{
    padding-top: 20px;
    font-size: 24px;
  }


}

.modal-rules {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);

  position: fixed;
  z-index: 10;
  padding-top: 5%;
  margin: auto;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%; 
  
  backdrop-filter: blur(15px);
  transition: all 0.3s;
  &__open{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s;
  }
  &__content{
    margin: auto;
    padding: 100px;
    border-radius: 30px;
    background-color: rgba($color: $Black, $alpha: 0.2);
  }
  &__title{
    @extend %font32px;
    @extend %fontShadow;
    padding-bottom: 50px;
  }
  li{
    @extend %font32px;
    @extend %fontShadow;
    font-size: 24px;
    padding-bottom: 50px;
  }li:last-child{padding-bottom: 0;}
  &__close {
    color: $White;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.3s;
  }
  &__close:hover, &__close:focus {
    color: $GrayDark;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
  }
}

@media (max-width: $breakpoint1400) {
  .prices {
    &__title {
      @extend %font64px;
    }

    &__buttons-calc, &__buttons-rules, &__buttons-call {
      font-size: 24px;
      width: 400px;
    }
    &__buttons-rules {
      width: 165px;
    }
    &__buttons-call {
      width: 165px;
    }
  }
  .list-content {
    grid-template-columns: repeat(2, 1fr);
    &__item {
      height: 300px;
    }
    &__item-description-sale{
      font-size: 64px;
    }
  }  
  .modal-calc{
    &__title{
      padding-bottom: 0px;
    }
    &__content{
      margin: auto 15px;
    }
    &__form {
      grid-template-areas: "__ul" "__div";
    }
    ul{
      padding-top: 50px;
    }
    &__result{
      margin-top: 25px;
    }
    &__result-item{
      font-size: 18px;
    }
    &__result-sum{
      padding-top: 20px;
      font-size: 24px;
    }
  }
  .modal-rules{
    &__title{
      padding-bottom: 10px;
    }
    &__content{
      margin: auto 15px;
    }
    li{
      padding-bottom: 20px;
    }
    &__content{
      margin: auto 15px;
    }
  }
}
@media (max-width: $breakpoint1000) {
  .prices {
    &__title {
      font-size: 42px;
    }
  }

  .modal-calc{
    &__result-item-price{
      width: 70px;
    }
  }

  .list-content {
    gap: 20px;
    &__item-price {
      font-size: 48px;
    }
    &__item-description {
      font-size: 32px;
    }
    &__item-description-sale{
      font-size: 64px;
    }
  }  
}
@media (max-width: $breakpoint850) {
  .prices {
    padding-bottom: 50px;
    &__buttons br{
      display: none;
    }
    &__buttons{
      padding-top: 50px;
    }
    &__buttons-calc, &__buttons-rules, &__buttons-call {
      font-size: 18px;
      margin-right: 10px;
      width: 45%;
    }
    &__buttons-rules {
      width: 25%;
    }
    &__buttons-call {
      width: 25%;
    }
  }

  .list-content {
    padding-top: 50px;
    &__item {
      height: 250px;
    }
    &__item-price {
      font-size: 32px;
    }
    &__item-description {
      font-size: 24px;
    }
    &__item-description-sale{
      font-size: 32px;
    }
  } 

  .modal-calc{
    &__title{
      font-size: 24px;
    }
    &__label {
      font-size: 18px;
    }
    &__content{
      padding: 50px 25px;
    }
    &__hours {
      height: 10px;
      margin-top: 10px;
    }
    ul{
      padding-top: 25px;
    }
    &__checkbox + label::before {
      width: 15px;
      height: 15px;
  
      transition: all 0.2s;
    }
    &__checkbox:checked+label::before {
      background-size: 10px 10px;
    }
    &__submit {
      font-size: 18px;
      width: 150px;
      height: 50px;
    }

    &__result-item{
      font-size: 16px;
    }
    &__result-item-price{
      width: 70px;
    }
    &__result-sum{
      padding-top: 20px;
      font-size: 18px;
    }
  }
  .modal-rules{
    &__title{
      font-size: 24px;
    }
    li {
      font-size: 18px;
    }
    &__content{
      padding: 50px 25px;
    }
  }

}
@media (max-width: $breakpoint600) {
  .prices {
    &__title {
      font-size: 32px;
    }
    &__buttons-calc, &__buttons-rules, &__buttons-call {
      font-size: 12px;
      height: 50px;
      border: none;
      border-radius: 20px;
    }
  }

  .modal-calc{
    &__result-item-price{
      width: 50px;
    }
  }

  .list-content {
    &__item {
      font-size: 16px;
      height: 150px;
      border-radius: 15px;
    }
    &__item-price {
      font-size: 18px;
      padding: 30px 0px 30px;
    }
    &__item-description {
      font-size: 16px;
    }
    &__item-description-sale{
      font-size: 32px;
    }
  } 

  .modal-calc{
    &__label {
      font-size: 16px;
    }
    &__content{
      padding: 50px 15px;
    }
    &__hours {
      height: 10px;
      margin-top: 10px;
    }
    ul{
      padding-top: 25px;
    }
    &__checkbox + label::before {
      width: 15px;
      height: 15px;
  
      transition: all 0.2s;
    }
    &__checkbox:checked+label::before {
      background-size: 10px 10px;
    }
    &__submit {
      font-size: 18px;
      width: 150px;
      height: 50px;
    }

    &__result{
      padding: 20px 15px;
    }
    &__result-item{
      font-size: 12px;
    }
  }
}
@media (max-width: $breakpoint400) {
  .prices {
    &__title {
      font-size: 24px;
      padding-top: 50px;
    }
  }
}


.credits {
  position: relative;
  background-image: url(/source/background/credits.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;

  &__title {
    @extend %font64px;
    @extend %fontShadow;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__content{
    overflow: hidden;
    margin-bottom: 50px;
  }
}

.card{
  &__credits{
    width: 360px;
  }
  &__container-credits{}
  &__image-credits{
    padding: 50px 0 25px;
  }
  &__image-credits img{
    border-radius: 30%;
    width: 260px;
  }
  &__title-credits{}
}
@media (max-width: $breakpoint1400) {
.credits {
    &__title {
      @extend %font64px;
    }
  }
}
@media (max-width: $breakpoint1000) {
  .credits {
    &__title {
      font-size: 42px;
    }
  }
}
@media (max-width: $breakpoint850) {
  .credits {
    &__title {
      padding-bottom: 50px;
    }
  }
}
@media (max-width: $breakpoint600) {
  .credits {
    &__title {
      font-size: 32px;
    }
  }
}
@media (max-width: $breakpoint400) {
  .credits {
    &__title {
      font-size: 24px;
      padding-top: 50px;
    }
  }
}

.engeneers {
  position: relative;
  background-image: url(/source/background/engineers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  &__title {
    @extend %font64px;
    @extend %fontShadow;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__list {

  }
}

.engeneers-list {
  &__content {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  &__item {
    display: flex;
    padding: 30px;
    border-radius: 50px;
    background: rgba($color: $GrayLight, $alpha: 0.1);
    backdrop-filter: blur(5px);
  }
  &__item-img img{
    border-radius: 40px;
    max-width: 225px;
  }
  &__item-text{
    @extend %font32px;
    @extend %fontShadow;
    font-size: 24px;
    padding-left: 10px;
  }
  &__item-title {
    font-size: 32px;
  }
  &__item-links {
    display: flex;
    flex-direction: column;
  }
  &__item-links a{
    display: flex;    
    align-items: center;
    padding-left: 10px;
    padding-top: 30px;
  }
}
.vk::before, .tg::before, .gmail::before, .phone::before, .address::before{
  content: '';
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.vk::before {
  background-image: url('/source/icon/vk.png');
}
.tg::before {
  background-image: url('/source/icon/tg.png');
}
.gmail::before {
  background-image: url('/source/icon/gmail.png');
}
.phone::before{
  background-image: url('/source/icon/phone.png');
}
.address::before{
  background-image: url('/source/icon/map.png');
}

@media (max-width: $breakpoint1400) {
  .engeneers {
    &__title {
      @extend %font64px;
    }
  }
  .engeneers-list {
    &__item-img img{
      border-radius: 40px;
    }
    &__item{
      padding: 15px;
    }
    &__item-title {
      font-size: 24px;
    }
    &__item-links {
      font-size: 18px;
    }
  }
}
@media (max-width: $breakpoint1000) {
  .engeneers {
    &__title {
      font-size: 42px;
    }
  }
  .engeneers-list{
    &__item{
      justify-content: center;
    }
    &__content {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr;
    }
  }
}
@media (max-width: $breakpoint850) {
  .engeneers {
    &__title {
      padding-bottom: 50px;
    }
  }
  .engeneers-list{
    &__item {
      padding: 20px 10px;
    }
  } 
}
@media (max-width: $breakpoint600) {
  .engeneers {
    &__title {
      font-size: 32px;
    }
  }
  .engeneers-list{
    &__item-title{
      padding-top: 20px;
      font-size: 24px;
    }
    &__item-links{
      font-size: 18px;
    }
    &__item {
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }
}
@media (max-width: $breakpoint400) {
  .engeneers {
    &__title {
      font-size: 24px;
      padding-top: 50px;
    }
  }

}

.contacts {
  position: relative;
  background-image: url(/source/background/contacts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  &__title {
    @extend %font64px;
    @extend %fontShadow;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px 30px;

  }
  &__list a{
    @extend %font32px;
    @extend %fontShadow;
    display: flex;    
    align-items: center;
    padding-top: 40px;
    padding-left: 10px;
  }
  &__list-item-links{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
}
.maps{
  width: 560px;
  height: 400px;
  border-radius: 30px;
}
@media (max-width: $breakpoint1400){
  .engeneers {
    &__title {
      @extend %font64px;
    }
  }
}
@media (max-width: $breakpoint1000){
  .contacts{
    &__list{
      flex-direction: column-reverse;
    }
    &__title {
      font-size: 42px;
      padding-bottom: 50px;
    }
    &__list-item-links{
      padding-left: 0px;
    }
  }
}
@media (max-width: $breakpoint850){
  .contacts{
    &__list a{
      font-size: 24px;
    }
  }
  .maps{
    width: 400px;
    height: 400px;
  }
}
@media (max-width: $breakpoint600){
  .contacts{
    &__title {
      font-size: 32px;
    }
    &__list a{
      font-size: 18px;
    }
  }
  .maps{
    width: 300px;
    height: 400px;
  }
}
@media (max-width: $breakpoint400){
  .contacts{
    &__title {
      font-size: 24px;
      padding-top: 50px;
    }
    &__list a{
      font-size: 16px;
    }
  }
  .maps{
    width: 250px;
    height: 300px;
  }
  
}


.footer{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer img{
  height: 30px;
  object-fit: cover;
}
@media (max-width: $breakpoint850){
  .footer{
    height: 30px;
  }
  .footer img{
    height: 20px;
    object-fit: cover;
  }
}
